html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  height: 100%;
  background: url('/前后端/assets/images/login_bg.jpg') no-repeat center;
  background-size: cover;
}
.loginAregis {
  width: 400px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  /* 移动父盒子的50% */
  left: 50%;
  top: 50%;
  /* 向反方向移动自身的50% */
  transform: translate(-50%, -50%);
}
.title-box {
  height: 60px;
  background: url('./images/login_title.png') no-repeat center;
}
.register-box {
  display: none;
}
.layui-form {
  padding: 0 30px;
}
.links {
  display: flex;
  justify-content: end;
}
.links a {
  font-size: 12px;
}
/* 给输入框设置图标的样式 */
.layui-form-item {
  position: relative;
}
.layui-form-item .layui-icon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.layui-input {
  padding-left: 40px;
}
